.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;
    & label {
    font: var(--text-body-sm);
    color: var(--text-body);
  }
  & input {
    padding-block: .8rem;
    padding-left: 1rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    font: var(--text-body-md);
    color: var(--input-placeholder);
  }

  & input:active, & input:focus{
    outline: 1px solid #59B2FF;
  }
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.input-button {
  display: flex;
  flex-direction: column;

  & legend {
    margin-bottom: 12px;
  }
  & div {
    display: flex;
    background-color: var(--input-base);
    width: 272px;
    border: 1px solid var(--input-stroke);
    border-radius: 8px;


    & label {

      gap: 8px;
      padding-block: 12px;
      padding-inline: 18px;
      display: flex;
      align-items: center;
      font: var(--text-body-sm);
    }

  }
}

input[type="radio"] {
  appearance: none;
}







