.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;
    & label {
    font: var(--text-body-sm);
    color: var(--text-body);
  }
  & input {
    padding-block: .8rem;
    padding-left: 1rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    font: var(--text-body-md);
    color: var(--input-placeholder);
  }

  & input:active, & input:focus{
    outline: 1px solid #59B2FF;
  }
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.input-button {
  display: flex;
  flex-direction: column;

  & legend {
    margin-bottom: 12px;
  }

  & div {
    display: flex;
    gap: 4px;
    padding: 4px 5px;
    background-color: #1C1F21;
    color: #C8CDD0;
    border-radius: 8px;
    width: fit-content;

    & div {
      width: 130px;

    }


    & label {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    user-select: none;
    cursor: pointer;
    }

  }
}

input[type="radio"] {
  appearance: none;
}




.input-border {
  border: 1px solid #363B40;

}


.input-button-presencial:has(input:checked), .input-button-online:has(input:checked)  {
  transition: 50ms;
  background-color: #2D3136;
  & svg  path {
    fill: #59B2FF;
}
}

.input-textarea {
  display: flex;
  flex-direction: column;

  & label {
    font: var(--text-body-sm);
    color: var(--text-body);
    margin-bottom: 12px;
  }

  & textarea {
    border-radius: .5rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    padding-top: 1rem;
    padding-left: 1rem;
    font: var(--text-body-md);
    color: var(--input-placeholder);
  }

  & textarea:active, textarea:focus {
    outline: 1px solid #59B2FF;
  }
}


input{
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    font: var(--text-sm);
    color: var(--semantic-error);
    margin-top: .25rem;
  }
}

.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}


.switch--shadow + label {
  padding: 2px;
  width: 64px;
  height: 32px;
  border-radius: 999px;
  border: 1px solid var(--input-stroke);
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';

}
.switch--shadow + label:before {
  right: 1px;
  background-color: var(--input-base);
  border-radius: 60px;
  transition: all 0.4s;

}
.switch--shadow + label:after {
  width: 24px;
  background-color: var(--input-stroke);
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;

}

.switch--shadow:checked + label:before {
  background-color: var(--brand-light);

}
.switch--shadow:checked + label:after {
  background-color: white;
  transform: translateX(38px);

}

.input-file {

  & Legend {

    font: var(--text-body-sm);
    color: var(--text-body);
  }
  
  & div {

    & input {
      display: none;
    }

    & Label {
      display: inline-flex;
      flex-direction: row;
      padding: 12px;
      background-color: var(--shape-button);
      border: 1px solid var(--input-stroke);
      gap: 8px;
      justify-content: center;
      align-items: center;
      font: var(--text-body-sm);
      color: var(--text-heading);
      border-radius: 8px;

      
      
    }
    & Label:hover {
      cursor: pointer;
    }

  }

}

.input-checkbox {
  display: flex;
  gap: 12px;
  padding-block: 4px;
  font: var(--text-body-sm);
  color: #C8CDD0;

  & span {
    color: var(--brand-light);
    text-decoration: underline;
  }

  
  & Input {
    display: none;
  }

  & Label {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 4px;
  }

  

}

.input-checkbox:has(input:checked) {

  & Label {

    
    outline: 1px solid var(--brand-light);
    background-image: url(../assets/images/check.png);
    background-position: center;
    background-size: cover;
  }
}