

main {
  overflow: auto;
  flex: 1;
}

.main-container {
  padding-inline: 8.125rem;
  padding-block: 5rem;
  background-color: var(--shape-body);
  
}


aside {
  background-image: url(/assets/images/Background.png);
  background-size: cover;
  width: 400px;
  display: flex;
  padding: 2rem;
  
  justify-content: center;
}

.aside-container {
  
  display: flex;
  flex-direction: column;
}

.text-aside {
  margin-top: 1rem;

  & span {
    margin-top: .25rem;
    font: var(--text-body-md);
    color: #f9f9f9;
  }

}