.main-top {
  margin-top: 2.5rem;

  & > div {
    font: var(-text-heading-sm);
    color: var(--text-heading);
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;

  }

}