.main-mid {
  margin-top: 50px;

}

.text-main-mid {
  display: flex;
  gap: 12px;
  font: var(--text-heading-sm);
  color: var(--text-heading);
  align-items: center;

}

.colors{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font: var(--text-body-sm);
  color: #FFFFFF;
  gap: 16px;

  & > div {
    font: var(--text-body-sm);
    color: #FFFFFF;
  }

  & .input-colors{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    
    & input {
      margin-left: 5px;
      z-index: 0;
      width: 40px;
      height:40px;
      border-radius: 999px;
      border: 8px solid var(--input-stroke);
      transition: 0.2s;

    }

    & input:hover {
      filter: brightness(125%);
    }
    
    & input:checked{
      transition: 0s;
      outline: 2px solid #59B2FF;

    }

  }
}

.input-radio-temas {
  margin-top: 28px;

  & legend {
    font: var(--text-body-sm);
    color: #FFFFFF;
    margin-bottom: 1rem;
    
  }

}

.display-temas {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
}

.box-radio {
  
  & label{
    display: flex;
    gap: 8px;
    flex-direction: column;
    
    align-items: center;
    font: var(--text-body-sm);
    color: var(--text-heading);
    border: 2px solid #363B40;
    background-color: var(--shape-button);
    border-radius: .5rem;
    transition: all 0.2s;
    max-width: 134px;

  }

  & label:hover {
    background-color: #383D42;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    border: 2px solid #59B2FF;
    transition: 0s;
}
}


/* Items */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

width: 560px;
height: 325px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
