.main-top {
  margin-top: 2.5rem;

  & > div {
    font: var(--text-heading-sm);
    color: #F9F9F9;
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;

    & span {
    }
  }
}

.grid-top {
  display: grid;
  gap: 1rem;
}