.main-mid {
  margin-top: 50px;

}

.text-main-mid {
  display: flex;
  gap: 12px;
  font: var(--text-heading-sm);
  color: var(--text-heading);
  align-items: center;

}

.colors{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font: var(--text-body-sm);
  color: #FFFFFF;
  gap: 16px;

  & > div {
    font: var(--text-body-sm);
    color: #FFFFFF;
  }

  & .input-colors{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;

    
    & input {
      margin-left: 5px;
      z-index: 0;
      width: 20px;
      height:20px;
      border-radius: 999px;
      transition: 0.2s;
      background-color: blue;
      box-shadow: inset 0px 0px 0px 20px var(--input-stroke);
      

    }

    & input:hover {
      filter: brightness(125%);
    }
    
    & input:checked{
      transition: 0s;
      outline: 2px solid #59B2FF;

    }
  }
}


.outside-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2D3136;
  padding: 6px;


}

.inside-dot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.display-colors {
  display: flex;
  justify-content: space-between;
}

.radio-button:has(input:checked) {
  & .outside-dot {
    outline: 2px solid #59B2FF;
    transition: 0s;
  }
}

.radio-button:hover {
  filter: brightness(125%);
  transition: 0.2s;
}

.radio-button {
  transition: 0.2s;
}



.input-radio-temas {
  margin-top: 28px;

  & legend {
    font: var(--text-body-sm);
    columns: var(--text-heading);
    margin-bottom: 1rem;
    
  }

}

.display-temas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.box-radio {
  
  & label{
    display: flex;
    gap: 8px;
    flex-direction: column;
    
    align-items: center;
    font: var(--text-body-sm);
    color: var(--text-heading);
    border: 2px solid #363B40;
    background-color: var(--shape-button);
    border-radius: .5rem;
    transition: all 0.2s;
    padding-inline: 4px;
    padding-top: 4px;
  }

  & label:hover {
    background-color: #383D42;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    border: 2px solid #59B2FF;
    transition: 0s;
}
}

.end-temas {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  gap: 50px;
  justify-content: center;
  font: var(--text-body-sm);
  color: var(--text-body);
  justify-content: flex-start;

  & > Legend {
    background-color: #59B2FF;

}
}

.switch_container {
  display: flex;
  flex-direction: column;



}

